{% extends 'pizzas/base.html' %}

{% block content %}
{% load bootstrap  %}
<h1>Login </h1>

{% if form.errors %}
    <p class="text-danger">Erreur nom utilisateur / mot de passe</p>
{% endif %}

<form method="post" action="{% url 'utilisateurs:login' %}" novalidate>
    {% csrf_token %}

    {{ form|bootstrap }}

    <button name="submit" class="btn btn-primary mt-2" >Se connecter</button>
    <input type="hidden" name="next" value="{% url 'pizzas:index' %}">
</form> 

</form>

{% endblock content %}
